
<div class="container">
<div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
  <div class="display-1">{{title}}</div>
 
  <!--<button class="btn btn-outline-light" type="button">Example button</button>-->
</div>
<hr>
<router-outlet></router-outlet>


</div>

<hr>
<hr>

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom" >
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white">EL MENU</a>
    <button style="color:white"class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color:white" class="nav-link active" aria-current="page" routerLink="/bookings">all of bookings</a>
        </li>
        <li class="nav-item">
          <a style="color:white" class="nav-link active" aria-current="page" routerLink="/createBooking">new booking</a>
        </li>
        <li class="nav-item">
          <a style="color:white" class="nav-link" href="#">links</a>
        </li>
      </ul>
          
          
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>